<h1>Hi {{ customer.firstName }} {{ customer.lastName }}</h1>
<h3>
    The Invoice with the number {{ invoice.id }} as been cancelled.
</h3>
<p>
    <a href="#">More Details about the invoice</a>
</p>

