<h1>Hi {{ data.firstName }} {{ data.lastName }}</h1>
<h3>
   We have succefully changed your account credentials;
</h3>
<ul>
    <li>Email: {{ data.email }}</li>
    <li>Password: {{ newPassword }}</li>
</ul>
<p>
    To login, go to:
</p>
<p>
    Thanks!
</p>


